modules = ["nodejs-20", "bash", "web", "postgresql-16", "python-base-3.13"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["jq", "postgresql_17"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.js"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["resend:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_openai_ai_integrations:1.0.0", "twilio:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BGMoONqqPEIay8u8dijZ1acMbwjhX6aAuEEENV68IwiLTlNi4uuNxxmPVl9FvfsRWs_ZsUlHtV5wLjYcXJe-Uys"
VITE_VAPID_PUBLIC_KEY = "BBLC_BuOwi11V31-I-6Zw5U04I7ejkko9wgnc25hFI3udWEht1mN0fk8ruPYM882D6YSHLCZ00E8wyr8VZwFGOaE"
STREETVIEW_PHASE14_ENABLED = "true"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000
