modules = ["nodejs-20", "web", "bash", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["jq"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["resend:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_openai_ai_integrations:1.0.0", "twilio:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BBLC_BuOwi11V31I-6Zw5U04I7ejkko9wgnc25hFI3udWEht1mN0fk8ruPYM882D6YSHLCZ00E8wyr8VZwFGOaE"
VITE_VAPID_PUBLIC_KEY = "BBLC_BuOwi11V31I-6Zw5U04I7ejkko9wgnc25hFI3udWEht1mN0fk8ruPYM882D6YSHLCZ00E8wyr8VZwFGOaE"
RAILWAY_DATABASE_URL = "postgresql://postgres:DQOaxgYeIozBTTLlQiwvQAXGyveLPjZO@shinkansen.proxy.rlwy.net:25133/railway"
REFRESH_TOKEN_SALT = "be744209dc9dc9d9c653a8cd5f8ba1095e91f102f7f39d99131af13457e66b57"
